.who-we-work-container {
    background-color: #eeefef;
    width: 100%;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 60px;
}
.font-family{
    font-family: Montserrat;
    color: #141618;
    font-size: 1.7222rem;

}
.parag-style{
    font-family: 'Source Sans Pro';
    font-size: 15px;
    color: #60656f;
}
.second-container-heading{
     font-size: 2.66666rem;
}
.read-more-bt{
    border-radius: 40px;
    padding: 15px 40px;
    border: 2px solid #fff;
    font-size: 1rem;
    letter-spacing: .2rem;
    text-align: center;
    color: #60656f;
    width: 220px;
    height: 60px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    text-decoration: none;
    transition: all 1s ease;
    font-family: "Source Sans Pro";
    font-size: 17px;
    background: white;
}
.read-more-bt:hover{
    background-color:  #f4d35e;
    border-color:  #f4d35e;
}
.read-more-bt-margin{
    margin: 0 auto;
    margin-top: 41px;
    text-align: center;
}
.dispaly-img{
    display: none;
}
.col-width{
    width: 70%;
    margin:  auto;

}
.who-we-work-container-first-row,
.who-we-work-container-second-row{
    display: none;
}
.who-we-work-container-first-row-col{
    margin: 23px auto 0px;
    min-height: 480px;
}
.who-we-work-container .carousel-indicators{
    bottom: -65px;
}
.dot-display{
    display: block;
}
.who-we-work-container .carousel-item {
    position: relative;
    padding-bottom: 17px;
}
@media (min-width: 576px){
     .who-we-work-container-first-row-col{
        min-height: 366px;
    }
}
@media screen and (min-width: 768px) {
   .second-container-heading{
       font-size: 2rem
   }
   .who-we-work-container-first-row-col{
    min-height: 304px;
  }
}

@media screen and (min-width: 1040px) {
.who-we-work-container{
    display: flex;
    background: none;
    width: 100%;
    padding-bottom: 97px;
    height: auto;
}
.second-container-heading{
    font-size: 2.6666666rem;
}
.who-we-work-container-first-row,
.who-we-work-container-second-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 45px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;

}
.col-width{
    width: 30%;
}
.who-we-work-container-first-row-col ,
.who-we-work-container-second-row-col{
   text-align: start;
   margin-bottom: 30px;
    position: relative;
}

.dispaly-img{
    display: block;
}
.who-we-work-carousel{
    display: none;
}
.read-more-bt{
    position: absolute; 
    left: 1%; 
}
.read-more-bt-margin{
    width: 100%;
}
.font-family{
    font-size: 1.7222222rem;
}
}