.by-rely-on{
    background-image: url('../../images/img-copy-3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.bg-overlay{
    background-color: rgba(49,45,59,0.8);
}
.content{
    width:80%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    padding-bottom: 120px;
}
.rely-tittle{
    font-size: 1.722rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.parag-content{
    font-family:'Source Sans Pro' ;
    font-size: 0.944444rem;
    margin:30px 0px;
}
.confirm{
    font-size: 0.944444rem;
    font-family: 'Source Sans Pro';
}
.rely-bt{
    padding: 15px 75px;
    border-radius: 40px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #f4d35e;
    font-family: 'Source Sans Pro';
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2.7px;
    text-align: center;
    color: #60656f;
    transition: all 1s ease;
}
.rely-bt:hover{
    background-color: #0056b3;
    color: white;
    text-decoration: none;
}
@media screen and (min-width: 1303px) {
    .rely-tittle{
        font-size: 2.66rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
@media screen and (min-width: 1040px) {
    .content{
        padding-bottom: 80px;
    }
    .by-rely-on{
        background-image: url('../../images/img-copy.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    .rely-tittle{
        font-size: 2.1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .parag-content{
        font-size: 1.16666666rem;
    }
    .rely-bt{
        padding: 15px 97px;
    }
}