.provide-conatiner{
    text-align: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 60px;
}
.provide-sections{
    display: none;
}
.provide-bt {
    border: 2px solid #fff;
    padding: 15px 40px;
    border-radius: 40px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    font-size: 17px;
    letter-spacing: .2rem;
    text-align: center;
    color: #60656f;
    text-decoration: none;
    transition: all 1s ease;
}
.provide-bt:hover{
    border: solid 2px #f4d35e;
    background-color: #f4d35e;
    text-decoration: none;
    color: #60656f;
}
.provide-bt-container{
    margin-top: 50px;
}
.provide-section{
    width: 90%;
    margin: 10px auto;
    height: auto;
}
.provid-carousel .carousel-indicators{
    top: 100% !important;
}
.provid-carousel .carousel-inner{
    padding-bottom: 30px;
}

.provide-section-parag{
    font-size: 1.055555556rem;
    color: #60656f;
    font-family: 'Source Sans Pro';
}
.provide-section-tittle{
    font-family: Montserrat;
    color: #141618;
}
@media screen and (min-width: 768px) {
.provide-sections{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 65px auto;
}
.provide-section{
    width: 30%;
    height: auto;
    margin-bottom: 40px;
}
.provide-section:hover{
    border-radius: 16px;
    box-shadow: 0 50px 48px 0 rgba(0, 2, 30, 0.08);
    background-color: #ffffff;
}
.provid-carousel{
    display: none;
}
}
