
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    
    .bg-header{
        position: sticky;
        top:0;
        background-color: white;
        z-index: 1000;
        font-family: 'Source Sans Pro';
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    }
   
    
    .main-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top:100%;
        left: 0%;
        list-style: none;
        width: 100%;
        max-height: 0;
        background:white;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        overflow: hidden;
        transition:max-height 1s;
    } 
    .logo{
        width: 125px;
        height: 37px;
    }
    .nav-links{
        text-decoration: none;
        color: #60656f;  
        font-weight: bold;
        font-family: "SourceSansPro";
        font-size: .7rem;
        font-weight: bold;
        letter-spacing: .59px;
        text-align: center;
    }
    .nav-links:hover {
        color: #007bff;
        text-decoration: none;
    }
    .main-nav li {
        text-align: center;
    }
    
    .navbar-toggle {
        position: absolute;
        top: 11px;
        right: 21px;
        cursor: pointer;
        font-size: 18px;
        padding: .25rem .2rem;
        line-height: 1;
        background: transparent;
        border-radius: .25rem;
        border: hidden;
        outline: none;
    }
    .navbar-toggle:focus{
        outline: none;
    }
     .activeNav {
        width:100%;
        max-height: 500px;
    }
    .navbar-toggle-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='21' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        background-size: 100% 100%
    }
    .dropdown{
        position: relative;
    }
    .dropdown-menu-style{
        position: static;
        transition: 0.3s ease all;
        border-radius: 15px;
        background-color: rgba(23, 29, 28, 0.79);
        border-top: solid 3px #f4d35e;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: .75rem 1rem;
        margin: 0px;
        display: none;
    }
    
    .dropdown-item{
        list-style: none;
        font-size: .85rem;
        border-bottom: 2px solid white;
        width: 100%;
        margin-bottom: 8px;
        background-color: transparent;
    }
    .dropdown-item:hover{
        background-color: transparent;
    }
    .dropdown-links{
        color: white;
        text-decoration: none;
        background-color: transparent;
    }
    .dropdown-links:hover{
        text-decoration: none;
        background-color: transparent;
        color: #007bff;
    }
    @media screen and (min-width: 768px) {
        .navbar {
            display: flex;
            flex-wrap: nowrap !important;
            justify-content: space-between;
            font-size: 18px;
            padding: 0rem 1.166666rem 0rem 1.33333rem !important;
        }
        .main-nav {
            display: flex;
            flex-direction: row;
            position: static;
            justify-content: flex-end;
            flex-direction: row;
            height: auto;
            border: none;
            min-width: 652px;
            background: transparent;
            overflow:visible;
        }
        .logo{
            width:190px;
            height: 75px;
        }
        .main-nav li {
            margin: 0;
        }
    
        .nav-links {
            color: #60656f;
            margin-left: 25px;
            font-size: .9rem;
            
        }
        .navbar-toggle {
            display: none;
        }
    
        .dropdown-menu-style{
            position: absolute;
            top: 90%;
            right: 179px;
            min-width: 251px;
            margin-top:12px;
            display: none;
        }
        
    }
    @media screen and (min-width: 1040px) {
        .logo{
            width:220px;
            height: 83px;
        }
        .nav-links{
            font-size: 1rem;
            margin-left: 25px;
        }

    }
    .show{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    /* @media  screen and (max-width:765px) {
        .nav-links {
            color: #60656f;
            margin-left: 23px;
            font-size: .8rem;
        }
    } */