.contact-us-section{
    background:#f5f5f5;
    padding:50px 0;
    font-family: 'Source Sans Pro';
}
.contact-us-section-display{
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
}
.contact-us-tittle{
    font-family: Montserrat;
    width:100%;
    font-size: 1.722rem;
    font-weight: 800;
    line-height: 0.97;
    color: #312d3b;
    padding-bottom: 11px;
}
.contact-us-form{
    position: relative;
    width: 100%;
    background: white;
    padding: 40px 25px;
    border-radius: 25px;
    min-height: 450px;
    margin-bottom: 80px;
    box-shadow: 0 60px 80px 0 rgba(0, 0, 0, 0.1);
}
.input-section{
    position: relative;
    margin-bottom: 20px;
}
.input-section-label{
    position: absolute;
    top: 2px;
    left: 23px;
    font-family: 'Source Sans Pro';
    font-size: .6666666667rem;
    font-weight: 300;
    letter-spacing: -0.27px;
    color: rgba(96, 101, 111, 0.29);
}
.input-section-input{
    width: 100%;
    padding: 15px 21px;
    border-radius: 25px;
    border: 1px solid  #e4e9ed;
    outline: none;
    opacity: 0.44;
    font-family: 'Source Sans Pro';
    font-size: 1.05555556rem;
    color: #60656f;
}
.input-section-input:hover{
    border: 1px solid  #6a8daa;
    border-radius: 25px;
    color: #495057;
}
.textarea{
    width: 100%;
    height: 200px;
    border: 1px solid #e4e9ed;
    border-radius: 21px;
    padding: 20px 21px;
    outline: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.32px;
    color: #9dafbd;
      
}
.textarea:hover{
    border: 1px solid  #6a8daa;
    border-radius: 21px;
    color: #495057;
}
.send-button{
    position: absolute;
    top:80%;
    left: 45px;
    width: 52%;
    padding: 15px 40px;
    border-radius: 25px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #f4d35e;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size:1rem;
    letter-spacing: .2rem;
    border: 2px solid  #f4d35e;
    text-align: center;
    color: #60656f;
    transition: all .5s ease;
}
.send-button:hover{
    background-color: #6a8daa;
    color: white;
    border: 2px solid  #6a8daa;
}
.contact-us-details{
    padding-left: 45px;
    font-family: 'Source Sans Pro';
    padding-bottom: 33px;
}
.contact-us-detail-tittle{
    font-weight: bold;
    font-size: .94444rem;
    color: #60656f;
}
.contact-us-detail-parag{
    font-family: 'Source Sans Pro';
    color: #60656f;;
    font-size:.944444rem;
}
.bg-social-contact{
    background-color: #9dafbd;
    padding: 3px 7px 7px 7px;
    margin-right: 10px;
    border-radius: 50%;
}
@media screen and (min-width: 1040px) {
    .contact-us-section{
        background-image: url('../../images/48D6C579-298D-48A9-8E58-B5DFDDAB2EB4.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .contact-us-section-display{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        justify-content: space-around;
    }
    .contact-us-form{
        position: relative;
        width: 42%;
    }
    .contact-us-details {
        padding-top: 34px;
        width: 40%;
        padding-left: 0rem;
    }
}