.footer{
    display: flex;
    flex-direction: column;
}

.footer-first-section{
    background-color: #24272a;
    color: white;
    padding:3rem 3rem;
    display: flex;
    flex-direction: column;
}
.footer-second-section{
    background-color: #141618;
    color: white;
    padding:2rem 3rem 2rem 3rem;
    display: flex;
    flex-direction: column;
}
.footer-first-section-link{
    font-family: 'Source Sans Pro';
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    margin-bottom: 10px;
    font-size: .833333333rem;
    line-height: 1.93;
    text-align: center;
}
.footer-first-section-link:hover{
    text-decoration: none;
    color: #f4d35e;
}
.footer-first-section-links-container h6{
    font-family:'Open Sans';
    font-size: 14px;
    font-weight: bold;
    line-height: 2.86;
    letter-spacing: 3px;
    text-align: center;
    color: #ffffff;
}
.white-logo{
    width:80%;
    margin: 0px auto;
    margin-bottom: 2.5rem;
}
.footer-first-section-links-container{
    width:80%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 2rem;
}
.footer-second-section-copy-right{
    width: 80%;
    font-family: 'Source Sans Pro';
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: .83333333rem;
    line-height: 1.4;
}
.footer-second-section-links{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: .8333333rem;
    line-height: 1.4;
}
.footer-second-section-links a{
    color: white;
    margin-right: 3px;
    text-decoration: none;
    font-family: 'Source Sans Pro';
}
.footer-second-section-links a:hover{
    text-decoration: none;
    color: #f4d35e;
}
.mf{
    margin: 0 1rem;
}
@media screen and (min-width: 768px) {
    .footer-first-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .white-logo{
        width:30%
    }
    .footer-first-section-links-container{
        width: 20%;
    }
    .footer-second-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-second-section-copy-right{
        width: 60%;
        text-align: start;
    }
    .footer-second-section-links{
        width: 30%;
    }
}