.bg-saf-biopharma{
    background-image: url('../../images/img.jpg');
    background-size: 200% 100%;
    background-repeat: no-repeat;
    
}
.bg-safe-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 40px;
}
.content{
    width:80%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
}
.rely-tittle{
    font-family:  Montserrat;
}
.saf-biopharma-parag-content{
  font-family: 'Source Sans Pro';
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
  margin: 30px 0px;
}
.rely-bt{
    padding: 15px 75px;
    border-radius: 40px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #f4d35e;
    font-family: 'Source Sans Pro';
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2.7px;
    text-align: center;
    color: #60656f;
    transition: all 1s ease;
}
.rely-bt:hover{
    background-color: #0056b3;
    color: white;
    text-decoration: none;
}.button-mt{
    margin-top: 33px;
}
.safe-identity-hint{
  font-family: 'Source Sans Pro';
  font-size: 17px;
  line-height: 1.71;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
    .rely-bt{
        padding: 15px 97px;
    }
}
@media screen and (min-width: 1040px) {
    .bg-saf-biopharma{
        background-image: url('../../images/img.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
    .saf-biopharma-parag-content{
        font-size: 1.16666667rem;
    }
}